@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: rgb(24, 27, 30);
}
* {
  font-family: Source Sans Pro;
}

.react-autosuggest__container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.react-autosuggest__input {
  width: 50%;
  height: 30px;
  padding: 10px 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-image: url('/src/img/loupe.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 50%;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 52px;
  width: calc(50% + 80px);
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  overflow-y: scroll;
  height: 50vh;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion section {
  cursor: pointer;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}
.react-autosuggest__suggestion img {
  height: 50px;
  margin-right: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
